@import 'sass-rem';
@import 'assets/variables';

.filter {
  min-height: rem(180px);
  margin: rem(13px);
  padding: 2%;
  cursor: pointer;

  &__interval {
    width: 100%;
    margin-bottom: rem(10px);
    font-size: rem(30px);
    font-weight: bolder;
    text-align: center;
  }

  &__gender {
    margin: rem(10px) 0;
    font-size: rem(16px);
    text-align: center;
  }

  &__countries,
  &__colors {
    display: flex;
    justify-content: center;
    margin: rem(10px) 0;
    flex-wrap: wrap;
  }
}
