$palette: (
  primary: #000,
  secondary: #838383,
  border-line: #eeeeeebf,
  border-shadow: #00000005
);

$grey: (
  100: #fff,
  150: #f2f2f2,
  200: #e4e6e6,
  300: #d4d4d4,
  400: #bcbcbc,
  450: #eff4f7,
  500: #999,
  550: #d3d3d3d0,
  600: #838383,
  700: #333e44,
  800: #323c47,
  900: #e0e0e0,
  950: #e6e6e6,
  1000: #d6dee4,
  1100: #f2f4f9,
  1200: #f8f4f4,
  1300: #c6c6c6,
  1400: #777,
  1500: #4f4f4f,
  1600: #e4e4e4,
  1650: #999,
  1700: #303030,
  1800: #fdf7f7,
  1900: #e9eefe,
  2000: #e9ebf1,
  2500: #7d7d7d
);
